:root {
  --color_1: hsl(7, 50%, 31%);
  --color_2: hsl(167, 46%, 21%);
  --color_3: hsl(288, 63%, 20%);
  --color_fondo: hsl(0, 0%, 100%);
  --color_text: hsl(0, 0%, 0%);
  --color_text-white: hsl(0, 0%, 100%);
  --font_size: 14px; }

html {
  background: var(--color_fondo);
  color: var(--color_text);
  font-size: var(--font_size); }

.selectStyle {
  font-size: 1rem; }

.changeSize {
  font-size: 1rem; }

body {
  background: inherit;
  margin: 0;
  min-height: 100vh; }

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-max-content;
  -ms-grid-rows: max-content;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template: max-content/repeat(3, 1fr);
  grid-gap: 20px; }

.contaiter-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.item {
  height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.item:nth-child(1) {
  background-color: var(--color_1);
  color: white; }

.item:nth-child(2) {
  background-color: var(--color_2);
  background-image: url("img_2.png");
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: white; }

.item:nth-child(3) {
  background-color: var(--color_3);
  color: white; }

.item img, .item video {
  max-width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain; }

.controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 2px 2px var(--color_2);
  box-shadow: 0px 0px 2px 2px var(--color_2);
  width: 300px;
  margin: 20px auto;
  padding: 1rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.contRange {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5px;
  -webkit-box-shadow: 0px 0px 1px 1px var(--color_1);
  box-shadow: 0px 0px 1px 1px var(--color_1);
  margin: 5px;
  padding: 10px; }

.contButton {
  display: -ms-grid;
  display: grid;
  margin: 5px;
  padding: 10px; }

.contButton button {
  background-color: var(--color_1);
  padding: 10px;
  width: 200px;
  color: var(--color_text-white);
  font-weight: bold;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  transition: background .5s ease; }
  .contButton button button:hover {
    background-color: var(--color_2); }

.contRange span {
  width: 100%;
  text-align: center; }

html[hc="a1"] {
  -webkit-filter: url("#hc_extension_highcontrast");
  filter: url("#hc_extension_highcontrast"); }
  html[hc="a1"] img[src*="jpg"],
  html[hc="a1"] img[src*="jpeg"],
  html[hc="a1"] img.rg_i,
  html[hc="a1"] svg image,
  html[hc="a1"] embed,
  html[hc="a1"] object,
  html[hc="a1"] video {
    -webkit-filter: url("#hc_extension_highcontrast_back");
    filter: url("#hc_extension_highcontrast_back"); }

html[hc="a2"] {
  -webkit-filter: url("#hc_extension_grayscale");
  filter: url("#hc_extension_grayscale"); }
  html[hc="a2"] img[src*="jpg"],
  html[hc="a2"] img[src*="jpeg"],
  html[hc="a2"] img.rg_i,
  html[hc="a2"] svg image,
  html[hc="a2"] embed,
  html[hc="a2"] object,
  html[hc="a2"] video {
    -webkit-filter: url("#hc_extension_grayscale_back");
    filter: url("#hc_extension_grayscale_back"); }

html[hc="a3"] {
  -webkit-filter: url("#hc_extension_invert");
  filter: url("#hc_extension_invert"); }
  html[hc="a3"] img[src*="jpg"],
  html[hc="a3"] img[src*="jpeg"],
  html[hc="a3"] img.rg_i,
  html[hc="a3"] svg image,
  html[hc="a3"] embed,
  html[hc="a3"] object,
  html[hc="a3"] video {
    -webkit-filter: url("#hc_extension_invert_back");
    filter: url("#hc_extension_invert_back"); }

html[hc="a4"] {
  -webkit-filter: url("#hc_extension_yellow_on_black");
  filter: url("#hc_extension_yellow_on_black"); }
  html[hc="a4"] img[src*="jpg"],
  html[hc="a4"] img[src*="jpeg"],
  html[hc="a4"] img.rg_i,
  html[hc="a4"] svg image,
  html[hc="a4"] embed,
  html[hc="a4"] object,
  html[hc="a4"] video {
    -webkit-filter: url("#hc_extension_yellow_on_black_back");
    filter: url("#hc_extension_yellow_on_black_back"); }

html[hc="a5"] {
  -webkit-filter: url("#hc_extension_red_on_white");
  filter: url("#hc_extension_red_on_white"); }
  html[hc="a5"] img[src*="jpg"],
  html[hc="a5"] img[src*="jpeg"],
  html[hc="a5"] img.rg_i,
  html[hc="a5"] svg image,
  html[hc="a5"] embed,
  html[hc="a5"] object,
  html[hc="a5"] video {
    -webkit-filter: url("#hc_extension_red_on_white_back");
    filter: url("#hc_extension_red_on_white_back"); }

html[hc="a6"] {
  -webkit-filter: url("#hc_extension_green_on_blue");
  filter: url("#hc_extension_green_on_blue"); }
  html[hc="a6"] img[src*="jpg"],
  html[hc="a6"] img[src*="jpeg"],
  html[hc="a6"] img.rg_i,
  html[hc="a6"] svg image,
  html[hc="a6"] embed,
  html[hc="a6"] object,
  html[hc="a6"] video {
    -webkit-filter: url("#hc_extension_green_on_blue_back");
    filter: url("#hc_extension_green_on_blue_back"); }

html[hc="a7"] {
  -webkit-filter: url("#hc_extension_yellow_on_blue");
  filter: url("#hc_extension_yellow_on_blue"); }
  html[hc="a7"] img[src*="jpg"],
  html[hc="a7"] img[src*="jpeg"],
  html[hc="a7"] img.rg_i,
  html[hc="a7"] svg image,
  html[hc="a7"] embed,
  html[hc="a7"] object,
  html[hc="a7"] video {
    -webkit-filter: url("#hc_extension_yellow_on_blue_back");
    filter: url("#hc_extension_yellow_on_blue_back"); }

html[hc="a8"] {
  -webkit-filter: url("#hc_extension_white_on_black");
  filter: url("#hc_extension_white_on_black"); }
  html[hc="a8"] img[src*="jpg"],
  html[hc="a8"] img[src*="jpeg"],
  html[hc="a8"] img.rg_i,
  html[hc="a8"] svg image,
  html[hc="a8"] embed,
  html[hc="a8"] object,
  html[hc="a8"] video {
    -webkit-filter: url("#hc_extension_white_on_black_back");
    filter: url("#hc_extension_white_on_black_back"); }
