:root {
  --color_1: hsl(7, 50%, 31%);
  --color_2: hsl(167, 46%, 21%);
  --color_3: hsl(288, 63%, 20%);
  --color_fondo: hsl(0, 0%, 100%);
  --color_text: hsl(0, 0%, 0%);
  --color_text-white: hsl(0, 0%, 100%); }

html {
  background: var(--color_fondo);
  color: var(--color_text); }

body {
  background: inherit;
  margin: 0;
  min-height: 100vh; }

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-max-content;
  -ms-grid-rows: max-content;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template: max-content/repeat(3, 1fr);
  grid-gap: 20px; }

.contaiter-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center; }

.item {
  height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.item:nth-child(1) {
  background-color: var(--color_1);
  color: white; }

.item:nth-child(2) {
  background-color: var(--color_2);
  background-image: url("img_2.png");
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: white; }

.item:nth-child(3) {
  background-color: var(--color_3);
  color: white; }

.item img, .item video {
  max-width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain; }

.controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 2px 2px var(--color_2);
  box-shadow: 0px 0px 2px 2px var(--color_2);
  width: 300px;
  margin: 20px auto;
  padding: 1rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.contRange {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5px;
  -webkit-box-shadow: 0px 0px 1px 1px var(--color_1);
  box-shadow: 0px 0px 1px 1px var(--color_1);
  margin: 5px;
  padding: 10px; }

.contButton {
  display: -ms-grid;
  display: grid;
  margin: 5px;
  padding: 10px; }

.contButton button {
  background-color: var(--color_1);
  padding: 10px;
  width: 200px;
  color: var(--color_text-white);
  font-weight: bold;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  transition: background .5s ease; }

.contButton button:hover {
  background-color: var(--color_2); }

.contRange span {
  width: 100%;
  text-align: center; }

html[hc="a1"] {
  -webkit-filter: url("#hc_extension_highcontrast");
  filter: url("#hc_extension_highcontrast"); }

html[hcx="1"] img[src*="jpg"],
html[hcx="1"] img[src*="jpeg"],
html[hcx="1"] img.rg_i,
html[hcx="1"] svg image,
html[hcx="1"] embed,
html[hcx="1"] object,
html[hcx="1"] video {
  -webkit-filter: url("#hc_extension_highcontrast_back");
  filter: url("#hc_extension_highcontrast_back"); }

html[hc="a2"] {
  -webkit-filter: url("#hc_extension_grayscale");
  filter: url("#hc_extension_grayscale"); }

html[hcx="2"] img[src*="jpg"],
html[hcx="2"] img[src*="jpeg"],
html[hcx="2"] img.rg_i,
html[hcx="2"] svg image,
html[hcx="2"] embed,
html[hcx="2"] object,
html[hcx="2"] video {
  -webkit-filter: url("#hc_extension_grayscale_back");
  filter: url("#hc_extension_grayscale_back"); }

html[hc="a3"] {
  -webkit-filter: url("#hc_extension_invert");
  filter: url("#hc_extension_invert"); }

html[hcx="3"] img[src*="jpg"],
html[hcx="3"] img[src*="jpeg"],
html[hcx="3"] img.rg_i,
html[hcx="3"] svg image,
html[hcx="3"] embed,
html[hcx="3"] object,
html[hcx="3"] video {
  -webkit-filter: url("#hc_extension_invert_back");
  filter: url("#hc_extension_invert_back"); }

html[hc="a4"] {
  -webkit-filter: url("#hc_extension_yellow_on_black");
  filter: url("#hc_extension_yellow_on_black"); }

html[hcx="4"] img[src*="jpg"],
html[hcx="4"] img[src*="jpeg"],
html[hcx="4"] img.rg_i,
html[hcx="4"] svg image,
html[hcx="4"] embed,
html[hcx="4"] object,
html[hcx="4"] video {
  -webkit-filter: url("#hc_extension_yellow_on_black_back");
  filter: url("#hc_extension_yellow_on_black_back"); }

html[hc="a5"] {
  -webkit-filter: url("#hc_extension_red_on_white");
  filter: url("#hc_extension_red_on_white"); }

html[hcx="5"] img[src*="jpg"],
html[hcx="5"] img[src*="jpeg"],
html[hcx="5"] img.rg_i,
html[hcx="5"] svg image,
html[hcx="5"] embed,
html[hcx="5"] object,
html[hcx="5"] video {
  -webkit-filter: url("#hc_extension_red_on_white_back");
  filter: url("#hc_extension_red_on_white_back"); }
